.paddingTB20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paddingTB40 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.paddingTB80 {
  padding-top: 80px;
  padding-bottom: 80px;
}
.paddingLR0 {
  padding-left: 0;
  padding-right: 0;
}
.border {
  border: 1px solid red;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.container {
  max-width: 540px;
  width: 100%;
}
.group-flex {
  display: flex;
}
body {
  font-size: 32px;
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
}
body.theme1 {
  background-color: hsl(222, 26%, 31%);
  color: hsl(221, 14%, 31%);
}
body.theme1 #header {
  color: hsl(0, 0%, 100%);
}
body.theme1 #header #switch {
  background-color: hsl(224, 36%, 15%);
}
body.theme1 #header #switch:before {
  background-color: hsl(6, 63%, 50%);
  left: 5px;
}
body.theme1 #display {
  background-color: hsl(224, 36%, 15%);
  color: hsl(0, 0%, 100%);
}
body.theme1 #controls {
  background-color: hsl(223, 31%, 20%);
}
body.theme1 #controls .item {
  background-color: hsl(30, 25%, 89%);
  border-bottom: 4px solid hsl(28, 16%, 65%);
}
body.theme1 #controls .item.special {
  background-color: hsl(225, 21%, 49%);
  border-bottom: 4px solid hsl(224, 28%, 35%);
}
body.theme1 #controls .item.equal {
  background-color: hsl(6, 63%, 50%);
  border-bottom: 4px solid hsl(6, 70%, 34%);
}
body.theme1 #controls .item.special,
body.theme1 #controls .item.equal {
  color: hsl(0, 0%, 100%);
}
body.theme2 {
  background-color: hsl(0, 0%, 90%);
  color: hsl(60, 10%, 19%);
}
body.theme2 #header {
  color: hsl(60, 10%, 19%);
}
body.theme2 #header #switch {
  background-color: hsl(0, 5%, 81%);
}
body.theme2 #header #switch:before {
  background-color: hsl(25, 98%, 40%);
  margin: auto;
  left: 0;
  right: 0;
}
body.theme2 #display {
  background-color: hsl(0, 0%, 93%);
  color: hsl(60, 10%, 19%);
}
body.theme2 #controls {
  background-color: hsl(0, 5%, 81%);
}
body.theme2 #controls .item {
  background-color: hsl(45, 7%, 89%);
  border-bottom: 4px solid hsl(35, 11%, 61%);
}
body.theme2 #controls .item.special {
  background-color: hsl(185, 42%, 37%);
  border-bottom: 4px solid hsl(185, 58%, 25%);
}
body.theme2 #controls .item.equal {
  background-color: hsl(25, 98%, 40%);
  border-bottom: 4px solid hsl(25, 99%, 27%);
}
body.theme2 #controls .item.special,
body.theme2 #controls .item.equal {
  color: hsl(0, 0%, 100%);
}
body.theme3 {
  background-color: hsl(268, 75%, 9%);
  color: hsl(52, 100%, 62%);
}
body.theme3 #switch {
  background-color: hsl(268, 71%, 12%);
}
body.theme3 #switch:before {
  background-color: hsl(176, 100%, 44%);
  right: 5px;
}
body.theme3 #display {
  background-color: hsl(268, 71%, 12%);
  color: hsl(52, 100%, 62%);
}
body.theme3 #controls {
  background-color: hsl(268, 71%, 12%);
}
body.theme3 #controls .item {
  background-color: hsl(268, 47%, 21%);
  border-bottom: 4px solid hsl(290, 70%, 36%);
  color: hsl(0, 0%, 100%);
}
body.theme3 #controls .item.special {
  background-color: hsl(281, 89%, 26%);
  border-bottom: 4px solid hsl(285, 91%, 52%);
  color: hsl(0, 0%, 100%);
}
body.theme3 #controls .item.equal {
  background-color: hsl(176, 100%, 44%);
  border-bottom: 4px solid hsl(177, 92%, 70%);
  color: hsl(198, 20%, 13%);
}
h1 {
  margin-bottom: 0;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 40px;
}
#header .group-flex {
  justify-content: space-between;
  margin-bottom: 5px;
  align-items: flex-end;
}
#header .group-flex span {
  font-size: 0.3em;
  text-transform: uppercase;
}
#header .group-flex #theme-switch {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
#header .group-flex #theme-switch .group-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#header .group-flex #theme-switch #switch {
  position: relative;
  display: flex;
  width: 70px;
  padding: 0px 5px;
  height: 25px;
  border-radius: 50px;
  align-items: center;
  margin-bottom: -3px;
  cursor: pointer;
}
#header .group-flex #theme-switch #switch:before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
#display {
  padding: 35px 30px 40px 30px;
  border-radius: 8px;
  text-align: right;
  display: block;
  margin-bottom: 40px;
  overflow-x: auto;
}
#controls {
  display: grid;
  gap: 30px;
  padding: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  border-radius: 8px;
}
#controls .item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  padding-top: 7px;
}
#controls .item.special,
#controls .item .equal {
  font-size: 0.55em;
}
#controls .item.double {
  grid-column: span 2;
}
